[Unit]
Description=DCS World Dedicated Server (with watchdog wrapper)

# verify required file and directory structure
AssertDirectoryNotEmpty=%h/.wine/drive_c/DCS_configs/DCS.%i
AssertFileNotEmpty=%h/.wine/drive_c/DCS_configs/DCS.%i/Config/autoexec.cfg
AssertFileNotEmpty=%h/.wine/drive_c/DCS_configs/DCS.%i/Config/serverSettings.lua
AssertFileNotEmpty=%h/.wine/drive_c/DCS_server/bin/DCS_server.exe

# depend on shared wineserver (see wineserver.service for details)
After=wineserver.service
Requires=wineserver.service

# do not start updater before server has terminated
After=dcs-updater.service
After=dcs-updater-repair.service

# Start RealWeather before launching DCS Server
# "Wants" part make it optionnal
# Mask realweath@config service for disable RealWeather
Wants=realweather@%i.service
After=realweather@%i.service

# server(s) and updater must not run simultaneously
Conflicts=dcs-updater.service
Conflicts=dcs-updater-repair.service

[Install]
WantedBy=default.target

[Service]
Type=simple
WorkingDirectory=%h/.wine/drive_c/DCS_server
Environment=DCS_SAV_DIR="%h/.wine/drive_c/users/%u/Saved Games"

# symlink Saved Games folder to C:\DCS_configs (will fail if non-empty)
ExecStartPre=/bin/sh -c "if [ ! -h \"$DCS_SAV_DIR\" ] ; then if [ -d \"$DCS_SAV_DIR\" ] ; then rmdir \"$DCS_SAV_DIR\" ; fi ; ln -sT ../../DCS_configs \"$DCS_SAV_DIR\" ; fi"

ExecStart=%h/bin/dcs-server-watchdog DCS.%i
# send SIGTERM only to watchdog to trigger graceful termination
KillMode=mixed
Restart=always

# clean up temporary directory
ExecStopPost=/usr/bin/rm -rf %h/.wine/drive_c/users/%u/AppData/Local/Temp/DCS.%i/
