[Unit]
Description=RealWeather
Documentation=

AssertFileNotEmpty=%h/.wine/drive_c/DCS_configs/DCS.%i/RealWeather/config.toml
AssertFileNotEmpty=%h/bin/realweather

Before=dcs-server@%i.service

[Install]
WantedBy=default.target

[Service]
WorkingDirectory=%h/.wine/drive_c/DCS_configs/DCS.%i/RealWeather/
Type=oneshot
ExecStart=/bin/bash -c "%h/bin/realweather -input \"%h/.wine/drive_c/DCS_configs/DCS.%i/Missions/$$(grep miz \"%h/.wine/drive_c/DCS_configs/DCS.%i/Config/serverSettings.lua\" | sort -n | head -n1 | awk -F'\\\\' '{print $$NF}' | sed -E 's/_realweather\\.miz\"/.miz/g')\" -output \"%h/.wine/drive_c/DCS_configs/DCS.%i/Missions/$$(grep miz \"%h/.wine/drive_c/DCS_configs/DCS.%i/Config/serverSettings.lua\" | sort -n | head -n1 | awk -F'\\\\' '{print $$NF}' | sed -E 's/(_realweather)?\\.miz\"/_realweather.miz/g')\""
