[Unit]
Description=SRS Server
Documentation=https://github.com/ciribob/DCS-SimpleRadioStandalone/

# verify required file and directory structure
AssertFileNotEmpty=%h/.wine/drive_c/SRS_server/SRS-Server-Commandline
AssertFileNotEmpty=%h/.wine/drive_c/DCS_configs/DCS.%i/SRS/server.cfg
AssertPathIsSymbolicLink=%h/.wine/drive_c/DCS_configs/DCS.%i/SRS/SRS-Server-Commandline

# automatically restart up to 5 times in 10 minutes
StartLimitIntervalSec=10m
StartLimitBurst=5

[Install]
WantedBy=default.target

[Service]
Type=simple
WorkingDirectory=%h/.wine/drive_c/DCS_configs/DCS.%i/SRS
ExecStart=%h/.wine/drive_c/DCS_configs/DCS.%i/SRS/SRS-Server-Commandline -c %h/.wine/drive_c/DCS_configs/DCS.%i/SRS/server.cfg
# SRS-Server-Commandline returns 143 (128+SIGTERM) after graceful shutdown succeeded:
# https://github.com/ciribob/DCS-SimpleRadioStandalone/issues/939
SuccessExitStatus=143
Restart=always
RestartSec=1
