[Unit]
Description=sway window manager (headless configuration)
Documentation=man:sway(5)

[Install]
WantedBy=default.target

[Service]
# TODO: `exec systemd-notify --ready` in sway config
Type=notify
NotifyAccess=all

# configure sway (wlroots) for headless operation
# https://gitlab.freedesktop.org/wlroots/wlroots/-/blob/master/docs/env_vars.md
Environment=WLR_BACKENDS=headless
Environment=WLR_RENDERER=pixman
Environment=WLR_LIBINPUT_NO_DEVICES=1
#Environment=WLR_DRM_DEVICES=
Environment=WLR_RENDERER_ALLOW_SOFTWARE=1

ExecStart=/usr/bin/sway
ExecReload=/usr/bin/swaymsg reload
# workaround for race condition caused by dependent services accessing wayland prematurely
ExecStartPost=/usr/bin/sleep 1
ExecStopPost=/usr/bin/systemctl --user unset-environment SWAYSOCK DISPLAY WAYLAND_DISPLAY
TimeoutStopSec=10

Restart=always
RestartSec=1
